.container-fluid {
    border: 1px solid black;
}

#resultsBox {
    border: 1px solid black;
}

header {
    height:80px;
}

label {
    font-size: 1.75rem;
    font-weight: 600;
}

textarea {
    resize: none;
}

h3 {
    margin-top: 0.2rem;
} 

.card {
    margin: 10px;
}

p, span, button {
    font-size: 1.2rem;
}

#buttonContainer button{
    margin: 10px;
    width: 90%;
}