label {
    font-size: 1.75rem;
    font-weight: 600;
}

textarea {
    resize: none;
}

h1 {
    font-family: "tenso", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h3 {
    margin-top: 0.2rem;
} 

.card {
    margin: 10px;
}

p, span, button {
    font-size: 1.2rem;
}

#resultsBox {
    min-height: 150px;
}

#buttonContainer button{
    margin: 10px;
    width: 90%;
}

#mainContent {
    padding-bottom: 20px;
}

header {
    height:80px;
}

main {
    padding: 20px;
}

.bottomBorder {
    width: 95%;
    border-bottom: 2px solid white;
    margin: 0 auto;
}